.icon-small-reverse-arrows,
.icon-small-arrow-right-light,
.icon-small-arrow-right-med, 
.icon-small-arrow-right-dark,
.icon-small-arrow-right-orange,
.icon-small-arrow-right-solo, 
.icon-small-close-x-light,
.icon-small-close-x-dark,
.icon-small-close-x-orange,
.icon-small-close-x-green,
.icon-small-cart-add,
.icon-small-question-mark,
.icon-small-chat,
.icon-small-login-saved,
.icon-small-login-profile,
.icon-small-recommend-check,
.icon-small-calculator,
.icon-small-email-light,
.icon-small-email-med,
.icon-small-email-dark,
.icon-small-email-solo,
.icon-small-plus-light,
.icon-small-plus-med,
.icon-small-plus-dark,
.icon-small-plus-solo,
.icon-small-plus-solo-dark,
.icon-small-minus-orange,
.icon-small-minus-med,
.icon-small-minus-dark,
.icon-small-page-arrow-left-white,
.icon-small-page-arrow-right-white,
.icon-small-page-arrow-down,  
.icon-small-page-arrow-right,
.icon-small-heart-not-saved,
.icon-small-heart-saved

{
	background: url(small-icons.png) no-repeat;
}

.icon-small-reverse-arrows {
	background-position: 0px 0px;
	width: 14px;
	height: 14px;
}

.icon-small-arrow-right-light {
	background-position: 0px -21px;
	width: 14px;
	height: 14px;
}

.icon-small-arrow-right-med {
	background-position: 0 -42px;
	width: 14px;
	height: 14px;
}

.icon-small-arrow-right-dark {
	background-position: 0 -63;
	width: 14px;
	height: 14px;
}
.icon-small-arrow-right-orange {
	background-position: 0 -84;
	width: 14px;
	height: 14px;
}

.icon-small-arrow-right-solo {
	background-position: 0 -105;
	width: 14px;
	height: 14px;
} 
.icon-small-close-x-light  {
	background-position: -21 0;
	width: 14px;
	height: 14px;
}

.icon-small-close-x-dark  {
	background-position: -21 -21;
	width: 14px;
	height: 14px;
}

.icon-small-close-x-orange  {
	background-position: -21 -42;
	width: 14px;
	height: 14px;
}

.icon-small-close-x-green  {
	background-position: -21 -64;
	width: 14px;
	height: 14px;
}

.icon-small-cart-add  {
	background-position: -42 0;
	width: 14px;
	height: 14px;
}

.icon-small-question-mark  {
	background-position: -42 -21;
	width: 14px;
	height: 14px;
}

.icon-small-chat  {
	background-position: -42 -42;
	width: 14px;
	height: 14px;
}

.icon-small-login-saved  {
	background-position: -42 -63;
	width: 14px;
	height: 14px;
}

.icon-small-login-profile  {
	background-position: -42 -84;
	width: 14px;
	height: 14px;
}

.icon-small-recommend-check  {
	background-position: -42 -105;
	width: 14px;
	height: 14px;
}

.icon-small-calculator  {
	background-position: -42 -126;
	width: 14px;
	height: 14px;
}

.icon-small-email-light {
	background-position: -63 0;
	width: 14px;
	height: 14px;
}

.icon-small-email-med {
	background-position: -63 -21;
	width: 14px;
	height: 14px;
}

.icon-small-email-dark {
	background-position: -63 -42;
	width: 14px;
	height: 14px;
}

.icon-small-email-solo {
	background-position: -63 -63;
	width: 14px;
	height: 14px;
}

.icon-small-plus-light {
	background-position: -84 0;
	width: 14px;
	height: 14px;
}

.icon-small-plus-med {
	background-position: -84 -21;
	width: 14px;
	height: 14px;
}

.icon-small-plus-dark {
	background-position: -84 -42;
	width: 14px;
	height: 14px;
}

.icon-small-plus-solo {
	background-position: -84 -63;
	width: 14px;
	height: 14px;
}

.icon-small-plus-solo-dark {
	background-position: -84 -84;
	width: 14px;
	height: 14px;
}

.icon-small-minus-orange {
	background-position: -105 0;
	width: 14px;
	height: 14px;
}

.icon-small-minus-med {
	background-position: -105 -21;
	width: 14px;
	height: 14px;
}

.icon-small-minus-dark {
	background-position: -105 -42;
	width: 14px;
	height: 14px;
}

.icon-small-page-arrow-left-white {
	background-position: -105 63;
	width: 14px;
	height: 14px;
}

.icon-small-page-arrow-right-white {
	background-position: -105 -84;
	width: 14px;
	height: 14px;
}

.icon-small-page-arrow-down {
	background-position: -105 -105;
	width: 14px;
	height: 14px;
}

.icon-small-page-arrow-right {
	background-position: -105 -126;
	width: 14px;
	height: 14px;
}
.icon-small-heart-not-saved {
	background-position: -126 -0;
	width: 14px;
	height: 14px;
}

.icon-small-heart-saved {
	background-position: -126 -21;
	width: 14px;
	height: 14px;
}




